*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(340deg,  #a3ffa7, #3e00ff);
  display: flex;
  justify-content: center;
  align-items: center;
}